.card {
    margin: 6px;
    padding: 10px;
    background-color: rgb(210, 210, 210);
    display: inline-block;
    width: 400px;
}
#cards {
    border: 3px dashed black;
    padding: 15px 10px;
    margin: 10px 10px;
}
p {
    color: black;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: "Times New Roman", Times, serif;
    
}
h3{
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    color: black;
    font-size : 40px;
}
.precio{
    color: green;
    font-size: 25px;
}
